html,body{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color:  white;
}
label{
    display: block;
    color: white;
}

.barra__Navegacion{
    display: flex;
    justify-content: space-between;
    background-color: #274690;


    padding:  20px 20px;

}

.contenedor{
    margin-top: 40px;  
    margin-bottom: 20px; 
}

.Nav a{
    
    margin-left:25px ;
}

.Datos{
    display: flex;
    justify-content: space-between;
    background-image: url(../img/Playas-espectaculares.jpg);
    background-position: center;
    background-repeat: no-repeat;
}



.Inputs__Nombres{
    text-align: center;
    font-size:20px ;
    width: 700px;
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
}
.Inputs__Nombres input{
    width: 300px;
    border-radius:8px ;
    padding: 10px;
    border: #274690 3px solid;

}


.input_ubicacion {
    width: 700px;
    text-align: center;
    font-size:20px ;
    margin: 10px 0px;

}

.input_ubicacion input{
    width: 600px;
    border-radius:8px ;
    padding: 10px;
    border: #274690 3px solid;
}
.input_Actividades{
    width: 700px;
    text-align: center;
    font-size:20px ;
    margin: 10px 0px;
}
.input_Actividades textarea{
    border-radius:8px ;
    padding: 10px;
    border: #274690 3px solid;
}


.input__imagen{
    width: 200px;
    text-align: center;
    font-size:20px ;
    background-color: #274690;
    color: white;
    border-radius:5px ;
    padding: 10px;
  margin:  0 auto;
}
.input__imagen input{
    display: none;
  
}

.ajolote img{
    margin: 40px 90px  ;
    height: 350px;
}




